@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply scroll-smooth !overflow-x-hidden;
	}

	body {
		@apply m-0 scroll-smooth antialiased font-dmSans !overflow-x-hidden;
	}

	/* Selection */
	::selection {
		@apply bg-primary-100 text-white;
	}

	/* Scroll bar */
	body::-webkit-scrollbar {
		@apply w-2 h-10 transition-all;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-100 outline-none;
	}

	.scroll-ctn::-webkit-scrollbar {
		@apply hidden !important;
	}

	/* apply to all container of view */
	.page-container {
		@apply container mx-auto px-6 py-[100px] md:px-8 md:py-[120px] lg:px-12 lg:py-[140px];
	}

	.scroll-item {
		@apply shrink-0 snap-start snap-always;
	}

	/* For Webkit-based browsers (Chrome, Safari and Opera) */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* custom checkbox */
	input[type="checkbox"] {
		@apply appearance-none;
		/* removing default appearance */
		-webkit-appearance: none;
	}

	.form {
		@apply flex flex-col w-full gap-10;
	}
}
