@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply scroll-smooth !overflow-x-hidden;
	}

	body {
		@apply m-0 scroll-smooth antialiased font-dmSans !overflow-x-hidden;
	}

	/* Selection */
	::selection {
		@apply bg-primary-100 text-white;
	}

	/* Scroll bar */
	body::-webkit-scrollbar {
		@apply w-2 h-10 transition-all;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-100 outline-none;
	}

	.scroll-ctn::-webkit-scrollbar {
		@apply hidden !important;
	}

	/* apply to all container of view */
	.page-container {
		@apply container mx-auto p-6 md:p-8 lg:p-12;
	}

	.scroll-item {
		@apply shrink-0 snap-start snap-always;
	}

	/* For Webkit-based browsers (Chrome, Safari and Opera) */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* custom checkbox */
	input[type="checkbox"] {
		@apply appearance-none;
		/* removing default appearance */
		-webkit-appearance: none;
	}

	.active-post{
		content: "";
		position: absolute;
		width: 0;
		height: 3px;
		background-color: black;
		/* left: 0;
		bottom: -10px;
		transition: 0.5s; */
	}
}
