@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply scroll-smooth !overflow-x-hidden;
	}

	body {
		@apply m-0 scroll-smooth antialiased font-dmSans !overflow-x-hidden;
	}

	/* Selection */
	::selection {
		@apply bg-primary-100 text-white;
	}

	/* Scroll bar */

	body::-webkit-scrollbar {
		@apply w-2 h-10 transition-all;
	}

	body::-webkit-scrollbar-track {
		@apply shadow-sm bg-primary-50;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-100 outline-none;
	}

	/* apply to all container of view */
	.page-container {
		@apply container mx-auto px-6 py-[100px] md:px-8 md:py-[120px] lg:px-12 lg:py-[140px];
	}

	.scroll-item {
		@apply shrink-0 snap-start snap-always;
	}

	.text-overflow {
		@apply overflow-hidden text-ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	/* For Webkit-based browsers (Chrome, Safari and Opera) */

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.blog-content p:first-child:first-letter {
		@apply font-bold text-3xl;
	}

	.blog-content p {
		@apply text-justify;
	}

	.blog-content a {
		@apply !underline text-primary-100;
	}

	/* custom checkbox */
	input[type="checkbox"] {
		@apply appearance-none;
		/* removing default appearance */
		-webkit-appearance: none;
	}
	.form {
		@apply flex flex-col w-full gap-10;
	}

	.rdw-editor-toolbar {
		display: none !important;
	}
}
